.navbar-brand {
	font-size: 2em;
}

.container.top {
	padding-top: 10px;
}

#footer {
	background-color: #d0d0d0;
}

img {
	width: 100%;
}

.modal-dialog {
  width: 100%
}

#quick-links h6 a {
	text-decoration: underline;
}

#copyright {
	padding: 10px;
}

#items {
	padding-bottom: 20px;
}